[directories]
generated_images = .\resources\generated_images
generated_videos = .\resources\generated_videos
stock = .\resources
stock_videos = .\resources\video
stock_audios = .\resources\audio

[settings]
accepted_media_formats = [".png", ".jpeg", ".jpg", ".gif", ".mp4", ".mkv"]
video_formats = [".mp4", ".gif", ".mkv"]
image_formats = [".png", ".jpeg", ".jpg"]
